# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\apply\Desktop\JYH\OneDrive\MOOC\ColumbiaX CSMM.101x Artificial Intelligence (AI)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
